.menu-bar{
    a{
        font-size: 25px;
        text-transform: capitalize;
        color: #555 !important;
}
    a.navbar-brand{
            font-size: 27px;
        color: red !important;
        }
}